@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("../font/rockybilly.css");

p:first-child {
  padding: 2rem;
  font-size: 2rem; /* 1rem = 16px */
  font-weight: 400;
  font-style: normal;
  font-family: "Montserrat", serif; /*Nunca uses cursive*/
  text-align: left;
  text-decoration: 0.25rem overline crimson;
  text-transform: capitalize;
  text-shadow: 0rem 0rem 0.25rem crimson;
  color: snow;
}
a {
  text-decoration: none;
}

p:not(:first-child) {
  letter-spacing: 0.25rem;
  word-spacing: 0.25rem;
  line-height: 1rem;
}
