@keyframes animada {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  55% {
    opacity: 0;
    transform: scale(0);
  }
  75% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.animada {
  animation-name: animada;
  animation-duration: 10s;
}

.infinita {
  animation-iteration-count: infinite;
}

.alternada {
  animation-direction: alternate;
}

.delay {
  animation-delay: 4s; /*Solo aplica a la primera iteración*/
}

.timing {
  animation-timing-function: ease-in-out;
}

.paused:hover {
  animation-play-state: paused;
}

.animation-shorthand {
  animation: animada 2s 4s infinite alternate ease-in-out;
}

.animation-shorthand:hover {
  animation-play-state: paused;
}
