/* before */
.before::before {
  content: "(🤩) ";
}

/* after */
.after::after {
  content: " (🍕)";
}

/* placeholder */
.input-placeholder {
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 10px;
  background-color: rgb(105, 104, 104);
}

.input-placeholder::placeholder {
  color: white;
}

/* first-letter */
.first-letter::first-letter {
  color: crimson;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

/* first-line */
.first-line::first-line {
  color: crimson;
}
