.header_navbar-mobile{
    display: none;
}
.header_toggle-menu:checked ~ .header_navbar-mobile{
    display: flex;
}
.header_toggle-menu{
  
}

.header_cart{
    display: none;
}
.header_toggle-cart:checked ~ .header_cart{
    display: flex;
}
.header_toggle-cart{
   
}

/* Pseudo Clase */
input{
    outline: none;
    border: none;
    border-bottom: .2rem solid;
    transition: border-color 240ms ease-in-out  ;
}
input:focus{
    border-color: teal;
}

body > form button{
    cursor: pointer;
    transition: all 240ms ease-in-out  ;
}
body > form button:hover{
    background-color: transparent;
    border-color: teal;
    color: teal;
}

/* Pseudo elementos */
body > form button{
    font-size: 0;
}
body > form button::after{
    content: attr(data-icon);
    font-size: 1rem;
}

/* Animaciones */

header > a  img{
    transform: translateX(-100vw);
    animation: entrada 2s ease-in-out 200ms 1 forwards;
}

@keyframes entrada {
    0%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(50vw);
    }
}
